.container {
    margin-top: 50px;
    padding: 0 100px ;
    display: flex;
    height: 100vh;
}
.bgCell{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    /* https://css.glass/ */
}

.leftCells {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.titleCell{
    padding-left: 10px;
    padding-bottom: 5px ;
    border-bottom: 2px solid var(--noir);
}

.Cell{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    padding: 15px 5px;
    margin: 5px;
}
.infoCell {
    display: flex;
    justify-content: space-around;
}

.winrate, .rankCell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
}
.rankCell h6{
    font-family: 'spiegelregular';
    font-size: 13px;
}
.winrate h6 {
    font-family: 'spiegelregular';
    font-size: 13px;
}

.firstLigne{
    display: flex;
    justify-content: space-around;
    margin: 16px 0 ;

    padding-bottom: 10px ;
    border-bottom: 2px solid var(--noir);
}

.gamePlayed, .timeGame {
    text-align: center;
}

.secondLigne{
    display: flex;
    justify-content: center;
    margin-top: 30px ;
}


.donut{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;
    position: relative;

    border-radius: 100%;

    background: conic-gradient(var(--gris1) 0deg 180deg, var(--blue2) 180deg 360deg);

}
.donutHole{
    width: 150px; height: 150px;
    border-radius: 100%;
    background: rgba(33, 43, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}






.rightCells {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: blue;
    padding: 5px;
    margin: 5px;

}
.cell2{
    display: flex;
    background: red;

}
.type{
    display: flex;
    flex-direction: column;
}
.imgChamp{
    display: flex;

}



