.container {
    margin-top: 50px;
    padding: 0 100px ;
    display: flex;
    height: 100vh;
}
 
.rightCells {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
    width: 70%;
    background: blue;
    padding: 5px;
    margin: 5px;

}
.cards {
    display: flex;
}


.cardPerso   {
    margin: 30px;
}
.nomPerso{
    text-align: center;
    margin: 7px;
}
.imgPerso {
    display: flex;
    justify-content: center;
    position: relative;
}

#masteries {
    position: absolute;
    z-index: 0;
    bottom: -3%;
}
.nomPerso{
    margin-top: 12%;
}
.masteriesPoint{
    display: flex;
justify-content: center ;
align-items: center;
}
#iconemasterie{
    width: 30px;
}
.points > p{
    font-size: 11px;
}




