input[type="search"] {
    padding: 10px;
    border: 1px solid var(--gris2); 
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: var(--or1);
    background-color: var(--gris4); 
    width: 250px;
  }
  
  /* Style du texte dans le champ de recherche */
  input[type="search"]::placeholder {
    color: var(--gris1); /* Utilisez la couleur du texte de l'espace réservé de votre choix */
  }
  
  /* Style supplémentaire pour le bouton de réinitialisation dans le champ de recherche */
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-clear-button {
    appearance: none;
    display: none;
  }

  button {
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 16px;
    background-color: var(--blue4);
    color: var(--blanc);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--blue5);
  }
  .recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }




.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
#iconeProfile{
    position: absolute;
    z-index: -3;
}
 #test{
    position: absolute;
    z-index: -41132;
}
#icone{
    position: absolute;
    z-index: -5;
    border-radius: 50%; 
}

.infoProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nomInvocateur{
    position: absolute;
    bottom:110px;
}
.lvl{
    position: absolute;
    bottom: 70px;
}




/* Millieu */
.cercles{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 50px;
    position: relative;

}
.cercle2{
    position: absolute;
    top:10%;
}

.détails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 150px;
    margin-top: 56px;
}
.nomDinvocateur{
    font-size: 5.0rem;
}
.descInvocateur{
    color: var(--or3);
}


/* droite  rank*/
.rank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.rank > img{
position: absolute;
z-index: -1324324;
}

#selectRank{
    width: 160px;
    height: 35px;
    padding: 5px 35px 5px 5px;
    font-size: 18px;
    font-family: beaufort_for_lolbold;
    border-radius: 20px;
    color: var(--or3);
    background: none;
}

#selectRank option{
    background-color: var(--black);
    color:var(--noir);
}


#selectRank:focus{
    outline: none;
}

#selectRank:hover {
    cursor: url(/src/assets/cursor/cursor-pointer.png);
}



/* Animation */
#groscercle{
    animation-name: cercle;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cercle{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

