.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.iconeinvocateur{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.iconeinvocateur img  {
    bottom: 10px;
    position: absolute;
}
.iconeinvocateur img:nth-child(1){
    z-index: 10;
}
.iconeinvocateur img:nth-child(2) {
    bottom: 22px;
}
 


#icone{
    border-radius: 50%;
    
}








.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }

.cercles{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 50px;
    position: relative;

}
.cercle2{
    position: absolute;
    top:10%;
}

.détails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 150px;
    margin-top: 56px;
}

.nomDinvocateur{
    font-size: 5.0rem;
}
.descInvocateur{
    color: var(--or3);
}

/* Animation */
#groscercle{
    animation-name: cercle;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cercle{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

